/* Start Head dtergents */
.head-second {
    height: 400px;
    position: relative;
    padding-top: 70px;

    >img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 0 0 165px 0;
    }
    
    &::before {
        content: "";
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.463);
        border-radius: 0 0 165px 0;
    }

    .navbar {
        box-shadow: 0 0 10px 0 rgba(153, 153, 153, 0.563);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        background-color: #FFF;
        border-bottom: 3px solid #ffa600fe;

        .main-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;

            .icon-menu {
                display: none;
                img {
                    width: 50px;
                }
            }

            ul {
                display: flex;
                align-items: center;
                gap: 40px;  
                margin: 0;
                text-align: center;
                padding: 0 10px;
                a {
                    color: #000;
                    font-size: 20px;
                }
            }

            .img-head {
                display: flex;
                align-items: center;
                gap: 15px;
                direction: ltr;
                .img-logo {
                    img {
                        width: 130px;
                    }
                }

                .markt-icon {
                    img {
                        width: 40px;
                    }
                }
            }
        }
    }

    .info-head {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: #ffa600fe;

        h1 {
            font-size: 80px;
            margin-top: 0;
            margin-bottom: 0px;
        }

        p {
            font-size: 30px;
            margin-top: 5px;
            
        }
    }
}

@media (max-width: 770px) {
    .head-second {
        .icon-menu {
            display: block !important;
        }
        .navbar {
            ul {
                position: fixed;
                flex-direction: column;
                left: -100%;
                top: 0;
                background-color: #FFF;
                width: 40%;
                height: 100vh;
                justify-content: center;
                box-shadow: 0 0 10px 0 rgba(153, 153, 153, 0.65);
                transition: all .4s;
            }
        }

        .info-head {
            width: 100%;
            h1 {
                font-size: 50px;
            }
        }
    }
}

@media (max-width:600px) {
    .head-second {
        height: 275px !important;
        padding-top: 60px !important;

        &::before {
            top: 60px;
        }

        > img{
            height: 275px !important;
        }

        .navbar {
            .main-container {

                

                padding: 5px !important;
                
                .icon-menu {
                    img {
                        width: 25px;
                    }
                }

                .img-head {
                    .img-logo {
                        img {
                            width: 80px !important;
                        }
                    }

                    .markt-icon {
                        img {
                            width: 30px !important;
                        }
                    }

                }
            }
        }

        .info-head {
            .main-container {
                h1 {
                    font-size: 30px;
                }
            }
        }
    }

    
    .sec-products-dtergents {
        padding: 110px 0 100px 0 !important;

        .main-container {
            padding-left: 8px !important;
            padding-right: 8px !important; 

            .search {
                input[type=text] {
                    padding: 5px !important;
                    font-size: 16px !important;
                }

                input[type=button] {
                    padding: 6px 17px !important;
                    font-size: 16px !important;
                }
            }
    
        }

        
        .products-box {
            grid-template-columns: repeat(2, 1fr) !important;
            gap: 15px;
            margin-top: 25px !important;

            .box {
                padding: 10px !important;
                min-height: 250px !important;

                .img {
                    img {
                        height: 100px !important;
                    }
                }

                > p {
                    font-size: 19px;
                    margin: 5px 0;
                }

                .info {
                    gap: 10px !important;

                    p {
                        font-size: 14px;
                    }

                    span {
                        font-size: 14px;
                    }
                    
                    button {
                        width: 100% !important;
                        padding: 6px !important;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
/* End Head dtergents */

